/* EVERYTHING IN THE GRID BOX DISPLAY */
.itemCard {
    width: 18rem;
    height: 18rem;
    border: black solid .5px;
    position: relative;
}

.itemCard img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
} 

.itemCard {
    transition: 1s ease;
}

.itemCard:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
    z-index: 1;
    }